@font-face {
  font-family: 'Aeonik';
  src: url('/font/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/font/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/font/AeonikTRIAL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('/font/GowunBatang-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'GowunBatang-Bold';
  src: url('/font/GowunBatang-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Aeonik', sans-serif;
  background-image: url('/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav p:nth-child(1) {
  font-size: 2rem;
}
.nav p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.nav p:nth-child(2) > svg {
  width: 15px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2em;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2em;
}

.items {
  position: absolute;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 25px;
  /* margin: 0 0 10px 0; */
}

.item-index {
  flex: 1;
}

.item-name {
  flex: 4;
  font-size: 1rem;
}

.item-year {
  flex: 1;
}

.overlay {
  position: absolute;
  bottom: -1200px;
  right: 10px;
  width: 70%;
  height: 90%;
  padding: 2em 3em 4em;
  background-color: #ffffff;
  color: #1a1a1a;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  will-change: bottom;
  transform: translateZ(0) rotate(20deg);
  transform-origin: bottom center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: auto;
  max-height: 100vh;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.img-container {
  width: 100%;
  padding-bottom: 2em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em 0;
}

.col:nth-child(1) {
  flex: 8;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.col:nth-child(1) p {
  transform: rotate(-0.03deg);
  color: #444444;
}

.col:nth-child(1) p:nth-child(1) {
  font-size: 2.2rem;
}

.col:nth-child(1) p:nth-child(2) {
  font-size: 1.5rem;
}

.col:nth-child(1) p:nth-child(3) {
  font-size: 1.15rem;
}

.col:nth-child(2) {
  flex: 2;
}

#close-btn {
  cursor: pointer;
  opacity: 0.8;
  font-weight: bold;
}

.item-details {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0 3em 0;
}

.item-details > p > a {
  font-optical-sizing: auto;
  font-weight: 700;
  color: #444444;
}

.item-details p:nth-child(1) {
  flex: 3;
}

.item-details p:nth-child(1) > a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-details p:nth-child(1) > a:nth-child(1) > svg {
  width: 30px;
}

.item-details p:nth-child(1) > a:nth-child(3) > svg {
  width: 23px;
}

.item-details p:nth-child(1) > a > svg {
  width: 20px;
}

.item-details p:nth-child(2) {
  flex: 2;
  margin-top: 20px;
  letter-spacing: 0.15px;
  line-height: 2;
  font-family: 'GowunBatang-Bold';
}

.itemDetailVideo {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  margin-bottom: 50px;
}

.about {
  width: 70%;
  height: 100%;
  overflow-y: auto;
  margin: auto;
}

.about-container {
  width: 100%;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 50px 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}
.about .about-container > div > h1,
p {
  font-family: 'GowunBatang-Bold';
  font-optical-sizing: auto;
  font-style: normal;
}

.about-container > div > p {
  font-size: 1.3rem;
  line-height: 1.9;
  word-spacing: 1.3px;
}

.about-container > div > p > span {
  color: #4b4b4b;
  font-size: 1.5rem;
  font-weight: bolder;
}

.about-skills {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about-skills > div > div {
  width: 23.333%;
}

.about-skills > div > div > svg {
  width: 70px;
}

.about-skills h4 {
  text-align: center;
}

.gif-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}

.gif-container > img {
  width: 120px;
}

.momentum-detail {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 10px;
}

/* CSS */
@keyframes arrow-move-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px); /* 위로 살짝 이동 */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes arrow-move-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px); /* 아래로 살짝 이동 */
  }
  100% {
    transform: translateY(0);
  }
}

.size-6 {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
}

.nav p:hover .arrow-up {
  animation: arrow-move-up 0.6s ease-in-out infinite;
}

.nav p:hover .arrow-down {
  animation: arrow-move-down 0.6s ease-in-out infinite;
}

.arrowbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.overlayArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 5px;
  border: 2px dotted currentColor;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.overlayArrow > svg {
  width: 30px;
  height: 30px;
}

.func-container {
  font-family: 'GowunBatang-Regular';
  color: #4b4b4b;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.detailContents {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 2;
  text-align: justify;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
  .overlay {
    width: 100%;
    height: 100vh;
    right: 0;
    padding: 1em 2.5em 2.5em;
  }
  .gif-container > img {
    width: 80px;
  }
  .about .about-container > div > h1 {
    font-size: 1.5rem;
  }
  .about .about-container > div > p {
    font-size: 1.2rem;
  }
  .container {
    padding: 2em 2em;
  }

  .overlay-header {
    align-items: baseline;
    padding: 2em 0;
    flex-direction: column;
    gap: 20px;
  }
  .itemDetailVideo {
    row-gap: 3px;
  }
}

@media (max-width: 600px) {
  .about {
    width: 90%;
  }
  .about-container {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
  }
  .about-skills {
    width: 90%;
    margin: 30px auto;
  }

  .about-skills > div {
    margin: 0 auto;
  }

  .about .about-container > div > h1 {
    font-size: 1.3rem;
  }
  .about .about-container > div > p {
    font-size: 1rem;
  }

  .detailContents {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1.7;
    text-align: justify;
    letter-spacing: 0px;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}
